src/components/interfaces/MOBILE_API.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="interface" type="interfaceType">
        <xs:annotation>
            <xs:documentation><![CDATA[Deprecating - covered by OnSystemRequest
     <function name="OnSyncPData" functionID="OnSyncPDataID" messagetype="notification" >
     <description>
     Callback including binary data of any SyncP packets that SYNC needs to send back to the mobile device.
     Responds to SyncPData.
     Binary data is in binary part of hybrid msg.
     </description>

     <param name="URL" type="String" maxlength="1000" mandatory="false">
     <description>
     If blank, the SyncP data shall be forwarded to the app.
     If not blank, the SyncP data shall be forwarded to the provided URL.
     </description>
     </param>
     <param name="Timeout" type="Integer" minvalue="0" maxvalue="2000000000" mandatory="false">
     <description>
     If blank, the SyncP data shall be forwarded to the app.
     If not blank, the SyncP data shall be forwarded with the provided timeout in seconds.
     </description>
     </param>

     </function>]]></xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="elementType" mixed="true">
        <xs:sequence>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="xs:string" name="warning" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:float" name="since" use="optional"/>
        <xs:attribute type="xs:string" name="internal_name" use="optional"/>
        <xs:attribute type="xs:int" name="value" use="optional"/>
        <xs:attribute type="xs:string" name="rootscreen" use="optional"/>
        <xs:attribute type="xs:string" name="hexvalue" use="optional"/>
    </xs:complexType>
    <xs:complexType name="enumType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="xs:string" name="description"/>
            <xs:element type="elementType" name="element">
                <xs:annotation>
                    <xs:documentation>Deprecate
                        &lt;element name="USER_EXIT" />
                        Climate Buttons  Radio Buttons  Navigation Buttons
                        Base Request / Response RPCs
                        Range = 0x 0000 0001 - 0x 0000 7FFF

                        Base Notifications
                        Range = 0x 0000 8000 - 0x 0000 FFFF

                        Ford Specific Request / Response RPCs
                        Range = 0x 0001 0000 - 0x 0001 7FFF

                        Ford Specific Notifications
                        Range = 0x 0001 8000 - 0x 0001 FFFF
                        Common Single Light 0~500  Exterior Lights by common function groups 501~800  Interior Lights by common function groups 801~900  Lights by location 901~1000</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element type="historyType" name="history"/>
            <xs:element type="paramType" name="param"/>
        </xs:choice>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="internal_scope" use="optional"/>
        <xs:attribute type="xs:float" name="since" use="optional"/>
        <xs:attribute type="xs:float" name="until" use="optional"/>
        <xs:attribute type="xs:string" name="deprecated" use="optional"/>
        <xs:attribute type="xs:string" name="platform" use="optional"/>
    </xs:complexType>
    <xs:complexType name="paramType" mixed="true">
        <xs:sequence>
            <xs:element type="xs:string" name="description" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="historyType" name="history" minOccurs="0"/>
            <xs:element type="elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="xs:string" name="todo" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="mandatory" use="optional"/>
        <xs:attribute type="xs:byte" name="minlength" use="optional"/>
        <xs:attribute type="xs:int" name="maxlength" use="optional"/>
        <xs:attribute type="xs:string" name="array" use="optional"/>
        <xs:attribute type="xs:byte" name="minsize" use="optional"/>
        <xs:attribute type="xs:int" name="maxsize" use="optional"/>
        <xs:attribute type="xs:string" name="since" use="optional"/>
        <xs:attribute type="xs:string" name="defvalue" use="optional"/>
        <xs:attribute type="xs:short" name="minvalue" use="optional"/>
        <xs:attribute type="xs:float" name="maxvalue" use="optional"/>
        <xs:attribute type="xs:string" name="until" use="optional"/>
        <xs:attribute type="xs:string" name="deprecated" use="optional"/>
        <xs:attribute type="xs:string" name="platform" use="optional"/>
    </xs:complexType>
    <xs:complexType name="structType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="historyType" name="history" minOccurs="0"/>
            <xs:element type="xs:string" name="description" minOccurs="0"/>
            <xs:element type="paramType" name="param"/>
            <xs:element type="elementType" name="element">
                <xs:annotation>
                    <xs:documentation>Deprecate
                        &lt;element name="USER_EXIT" />
                        Climate Buttons  Radio Buttons  Navigation Buttons
                        Base Request / Response RPCs
                        Range = 0x 0000 0001 - 0x 0000 7FFF

                        Base Notifications
                        Range = 0x 0000 8000 - 0x 0000 FFFF

                        Ford Specific Request / Response RPCs
                        Range = 0x 0001 0000 - 0x 0001 7FFF

                        Ford Specific Notifications
                        Range = 0x 0001 8000 - 0x 0001 FFFF
                        Common Single Light 0~500  Exterior Lights by common function groups 501~800  Interior Lights by common function groups 801~900  Lights by location 901~1000</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:float" name="since" use="optional"/>
        <xs:attribute type="xs:float" name="until" use="optional"/>
        <xs:attribute type="xs:string" name="deprecated" use="optional"/>
        <xs:attribute type="xs:string" name="internal_scope" use="optional"/>
        <xs:attribute type="xs:string" name="platform" use="optional"/>
    </xs:complexType>
    <xs:complexType name="historyType">
        <xs:sequence>
            <xs:element type="enumType" name="enum" minOccurs="0"/>
            <xs:element type="paramType" name="param" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="structType" name="struct" minOccurs="0"/>
            <xs:element type="functionType" name="function" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="functionType" mixed="true">
        <xs:sequence>
            <xs:element type="historyType" name="history" minOccurs="0"/>
            <xs:element type="xs:string" name="description" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="paramType" name="param" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Specific response data  Specific response data</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="functionID" use="optional"/>
        <xs:attribute type="xs:string" name="messagetype" use="optional"/>
        <xs:attribute type="xs:float" name="since" use="optional"/>
        <xs:attribute type="xs:float" name="until" use="optional"/>
        <xs:attribute type="xs:string" name="deprecated" use="optional"/>
    </xs:complexType>
    <xs:complexType name="interfaceType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="enumType" name="enum" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="structType" name="struct"/>
            <xs:element type="functionType" name="function" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation><![CDATA[Requests/Responses  Notifications  ~~~~~~~~~~~~~~~~~~  Ford Specific APIs  ~~~~~~~~~~~~~~~~~~  Deprecating - covered by SystemRequest
     <function name="SyncPData" functionID="SyncPDataID" messagetype="request" >
     <description>
     Allows binary data in the form of SyncP packets to be sent to the SYNC module.
     Binary data is in binary part of hybrid msg.
     </description>
     </function>

     <function name="SyncPData" functionID="SyncPDataID" messagetype="response" >
     <param name="success" type="Boolean" platform="documentation" mandatory="true">
     <description> true, if successful; false, if failed </description>
     </param>

     <param name="resultCode" type="Result" platform="documentation" mandatory="true">
     <description>See Result</description>
     <element name="SUCCESS"/>
     <element name="INVALID_DATA"/>
     <element name="OUT_OF_MEMORY"/>
     <element name="TOO_MANY_PENDING_REQUESTS"/>
     <element name="APPLICATION_NOT_REGISTERED"/>
     <element name="GENERIC_ERROR"/>
     <element name="REJECTED"/>
     </param>

     <param name="info" type="String" maxlength="1000" mandatory="false" platform="documentation">
     <description>Provides additional human readable info regarding the result.</description>
     </param>
     </function>]]></xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="version"/>
        <xs:attribute type="xs:float" name="minVersion"/>
        <xs:attribute type="xs:date" name="date"/>
    </xs:complexType>
</xs:schema>